In [7]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
i=1
frames=[]
for i in range(1,10):
    url = f'https://data.bls.gov/timeseries/SMU4826420{i}000000001?amp%253bdata_tool=XGtable&output_view=data&include_graphs=true'
    tb=pd.read_html(url)[1]
    frames.append(tb)

In [39]:
frames[2]

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2009,238.6,236.6,232.1,227.6,225.5,223.8,221.2,219.7,218.5,215.9,215.0,215.2
1,2010,214.1,214.5,214.8,214.0,214.4,215.3,216.0,216.4,216.6,217.2,217.9,219.0
2,2011,218.7,220.1,221.5,223.0,223.7,226.3,227.7,228.8,230.0,231.1,232.5,234.9
3,2012,233.9,235.9,238.0,239.5,240.9,244.0,244.6,244.6,245.6,245.6,246.4,247.4
4,2013,245.9,247.7,248.4,248.5,248.6,250.7,250.4,250.5,250.2,250.4,251.2,252.3
5,2014,250.6,251.9,252.4,252.1,253.4,255.8,256.7,257.3,257.1,259.0,260.9,262.5
6,2015,259.5,257.4,255.4,250.9,248.7,247.6,244.8,242.1,239.8,237.0,235.0,233.8
7,2016,231.6,230.3,227.8,225.1,223.4,222.8,221.8,220.3,219.0,217.6,217.2,217.7
8,2017,217.1,217.9,219.0,218.4,219.2,221.2,221.3,222.3,221.6,221.8,223.0,224.2
9,2018,221.9,223.7,224.8,225.4,226.7,229.6,230.4,231.5,231.3,231.9,234.4,235.8
10,2019,235.6,240.8,241.5,240.3(P),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,P : Preliminary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
urlo='https://www.bls.gov/regions/southwest/tx_houston_msa.htm#eag_tx_houston_msa.f.3'
response=requests.get(urlo)
soup=bs(response.text,'html.parser')

In [38]:
tds=soup.find_all('td')
for td in soup.find_all('td headers'):
    for a in soup.find_all('a'):
        print(a.get('href'))

In [54]:
soup.find_all(headers='eag_tx.r.4 eag_tx.h.1.2')

[]